* {
    font-family: "Roboto", "Times New Roman", Arial;
}
html {
    height: 100%;

}
body {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    margin: 0;
    padding: 0;
    height: 100%;
}
.main {
    display: flex;
    flex-flow: row nowrap;
    background-image: url(https://t4.ftcdn.net/jpg/01/35/90/27/360_F_135902796_AlC9aSBPfWJaPMHeGUl4i9qseCld6UI7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    padding: 32px;
    align-items: center;
}
    .main > p {
    color: #a4bebb;
    font-weight: 900;
    font-size: 42px;
    background-color: #412485;
    border-radius: 32px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0;

}
.quick-access {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 50px;
    flex-flow: row nowrap;
}
img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 8px;
    border-color: #412485;
}
.container {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    background-color: #0c0414;
    padding: 16px;
    gap: 16px;
    height: 100%;
    justify-content: stretch;
}
.left {
    display: flex;
    background-color: #412485;
    flex: auto;
    padding-left: 8px;
    padding-right: 8px;
    margin: 0;
    border-radius: 10px;
    max-width: 60%;
}
.description > h1 {
    margin: 0;
}
.right {
    display: flex;
    flex: auto;
    background-color: #412485;
    border-radius: 10px;
    color: #a4bebb;
    padding: 8px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007acc;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}